@font-face{
    font-family: Win95;
    src: url("../resource/font/w95fa.woff");
    src: url("../resource/font/w95fa.otf") format('opentype');
    src: url("../resource/font/w95fa.woff2") format('woff2');
    
}

body {
    margin: 5vh auto;
    background-color: #008080;
    cursor: url('../resource/cursor/HotlineBlackNormalSelect.cur'),default;
    text-align: center;
}

.container {
    margin: auto;
    text-align: center;
}
.profileImage img {
    display: block;
    width: auto;
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
    margin: 20px auto;
}

.blurb div{
    text-align: center;
}

h1{
    font-size: 3em;
    font-family: 'win95';
    color: rgb(255, 255, 255);
}
p{
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgb(255, 255, 255);
}

.linkSelector{
    margin: auto;
    text-align: center;
    position: relative;
}

.linkSelector ul{
    list-style-type: none;
    padding: 0;
}

.linkSelector a{
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: url('../resource/cursor/HotlineBlackLinkSelect.cur'),pointer;
}

.linkSelector img {
    display: block;
    width: auto;
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
    margin: auto;
}

.github .gitImageHov {
    display: none;
}

.github:hover .gitImageHov {
    display: block;
}

.github:hover .gitImage {
    display: none;
}

.disco .discoImageHov{
    display: none;
}

.disco:hover .discoImageHov{
    display: block;
}

.disco:hover .discoImage{
    display: none;
}

.email .emailImageHov {
    display: none;
}

.email:hover .emailImageHov {
    display: block;
}

.email:hover .emailImage {
    display: none;
}

.taskbar{
    display: flex;
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(192,192,192);
    border-top: 0.5vh solid white;
    

}
.clockSection{
    display: flex;
    position: absolute;
    right: 0.5vw;
    height: 4vh;
    width: 10vw;
    background-color: rgb(192,192,192);
    border-bottom: 0.25vh solid white;
    border-right: 0.25vh solid white;
    border-top: 0.25vh solid rgb(128,128,128);
    border-left: 0.25vh solid rgb(128,128,128);
}
.clock{
    display: flex;
    position: absolute;
    right:0;
    width: 10vw;
    font-size: 2.5vh;
    font-family: Win95;

}



